<div class="clase-especial">
    <div class="container mt-4 clase-especial">
        <div class="row clase-especial">
          <div class="col-md-4 clase-especial" *ngFor="let card of comida">
            <div class="card mb-4 clase-especial">
              <div class="card-body clase-especial h-100">
                <img [src]="'http://localhost:1337' + card.attributes.img.data.attributes.url" class="card-img-top clase-especial" alt="Imagen">
                <h2 class="card-title clase-especial">{{ card.attributes.name }}</h2>
                <p class="card-text clase-especial">{{ card.attributes.description }}</p>
                <p class="card-text clase-especial">${{ card.attributes.price }}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      </div>
  
  