.footer{
    width: 100%;
    text-align: center;
    padding: 30px;
    background: #6a1000;
    box-sizing: border-box;
}
.footer h4{
    color: #fff;
    font-weight: 400;
    
}
.footer i{
    color: #ffffff;
    padding-left: 10px;
    font-size: 20px;
}
